<div class="container">
  <div class="col-md-3"></div>
  <div id="header" class="col-md-6">
    <h1>EAT BOB'S BURGERS!</h1>
  </div>
  <div class="col-md-3"></div>
  <div class="row">
    <div class="col-md-6">
      {{#each burger_data}}
      {{#unless this.devoured}}
        <div class="border">
          
          <div>{{this.id}}, {{this.burger_name}}</div>
          
        </div>
        <div class="devBtn">
          <form method="POST" action="/update?_method=POST">
            <input type="hidden" type="text" name="id" value={{this.id}}>
            <button type="submit" class="btn btn-danger">EAT DA BURGER!</button>
          </form> 
        </div>
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-md-6">
      {{#each burger_data}}
      {{#if this.devoured}}
        <div class="border">
          
          <div>{{this.id}}, {{this.burger_name}}</div>
          
        </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class=col-md-12>
      <form action="/create" method="POST">
        <input placeholder="ENTER BURGER NAME!" name="burger_name"></input><br>
        <button type="submit" id= "addBurgBtn"class="btn btn-primary">ADD A BURGER!</button>
      </form>
    </div>
  </div>
</div>